/*
TODO: make this look wayyy better
*/

body {
    background-color: #B4E1FF;
    font-family: Tahoma;
}
button {
    font-family: Tahoma;
    font-size: 14px;
}
#div-guessing {
    font-size: 16px;
}
h1 {
    font-family: Helvetica;
}
h2 {
    font-family: Tahoma;
}
pre {
    font-size: 18px;
}
