/*
TODO: make this look wayyy better
*/

body {
    background-color: #7FDBFF;
    font-family: Calibri;
}
h1 {
    font-family: Helvetica;
    font-size: 40px;
}
h2 {
    font-family: Tahoma;
}
#txt-guess {
    background-color: #EFD6AC;
    border-color: blue;
    border-radius: 10px;
    border-style: groove;
    border-width: 1.5px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
pre {
    font-size: 16px;
}
.start-game-btn {
    background-color: #FFB49A;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 16px;
}
ul li {
    list-style-type: square;
}
