/*
Styling for the webpage!
*/

body {
  background-color: #7FDBFF;
  font-family: Calibri;
}
.guess-txt-field {
  background-color: #EFD6AC;
  border: 1.5px groove blue;
  border-radius: 10px;
  margin: 0 40px 0 8px;
  padding: 0 4px;
}
h1 {
  font-family: Helvetica;
  font-size: 40px;
}
h2 {
  font-family: Tahoma;
}
h3 {
  text-decoration-line: underline;
}
pre {
  font-size: 16px;
}
.start-game-btn {
  background-color: #FFB49A;
  border: 1.5px solid black;
  color: black;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 7px;
  transform: scale(1); /* you need a scale here to allow it to transition in both directions */
  transition: 0.15s all ease;
}
.start-game-btn:hover {
  background-color: black;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 14px;
  transform: scale(1); /* you need a scale here to allow it to transition in both directions */
  transition: 0.15s all ease;
}
ul li {
  list-style-type: square;
}
